# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-*

# Temporary files
*.tmp
*.bak
*.backup

# Logs
*.log

# Semantic release
.package.json
.node_modules/
.package-lock.json
yarn.lock
pnpm-lock.yaml
npm-shrinkwrap.json
